html, 
body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 0.05px;
    
    background-color: #f2f2f2;
}

*, *:before, *:after { 
    -webkit-box-sizing: inherit; 
            box-sizing: inherit; 
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    
    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.btn {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    
    border: none;
}

.wrapper {
    width: 1200px;
    margin: auto;
    
    -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
            box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2)
}

.main-header {
    position: relative;
}

.main-navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    display: -webkit-box;
    display: -ms-flexbox;  
    display: flex;
    width: 1200px;
    height: 56px;
    padding: 0;
    
    background-color: #ffffff;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    min-height: 56px;
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.site-navigation a {
    font-weight: bold;
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
}

.site-navigation a.current {
    color: #766357;
}

.to-left {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    width: 338px;
    padding: 0 72px;
    
    list-style: none;
}

.to-right {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    width: 330px;
    padding: 0 72px;
    
    list-style: none;
}

.main-header-logo {
    position: absolute;
    left: 478px;
    
    width: 244px;
    padding: 0 53px;
}

.intro {
    position: relative;
    
    display: -webkit-box;
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    height: 780px;
    
    background-image: url("../img/intro.jpg");
}

.intro-description {  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 99px;
    margin-bottom: 38px;

    text-align: center;
}

.intro-description h1 {  
    width: 440px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.with-illustration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    
    text-align: center;
}

.recommendations-list,
.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    margin: 0;
    padding: 0;
    
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    
    list-style: none;
}

.features-item-photo1,
.features-item-photo2,
.features-item {
    width: 400px;
    min-height: 256px;
    
    color: #000000;
}

.features-item-photo1 h3,
.features-item-photo2 h3,
.features-item h3 {
    display: inline-block;
    
    width: 150px;
    
    font-size: 21px;
    line-height: 21px;
}

.features-item-photo1 span, 
.features-item-photo2 span,
.features-item span {
    display: block;
    margin: 3px 0;
}

.features-item-photo1,
.features-item-photo2 {
    color: #ffffff;

    background-color: #81b3d2;
}

.features-item-photo1 {
    padding: 25px 59px 36px 60px;
}

.features-item-photo2 {
    padding: 28px 48px 32px;
}

.illustration {
    background-color: #82b4d3;
}

.illustration img {
    display: block;
}

.features-item-photo2 h3 {
    width: auto;
}

.recommendations-item {
    position: relative;
    
    width: 400px;
    min-height: 330px;
   
    color: #000000;
    text-align: center;
    
    background-color: #ffffff;
}

.recommendations-item h3 {
    display: inline;
    
    width: 150px;
    font-size: 21px;
    line-height: 21px;
}

.recommendations-item p {
    margin-top: 22px;
}

.recommendations-item:first-child {
    padding: 163px 72px 66px 72px;
}

.recommendations-item:nth-child(2) {
    padding: 163px 57px 68px;
}

.recommendations-item:last-child {
    padding: 163px 61px 68px 63px;
}

.accommodations::before {
    content: url(../img/icon-1.svg);
    
    position: absolute;
    top: 58px;
    left: 162px;
    
    width: 75px;
    height: 72px;
}

.food::before {
    content: url(../img/icon-3.svg);
    
    position: absolute;
    top: 58px;
    left: 158px;
    
    width: 74px;
    height: 70px;
}

.souvenirs::before {
    content: url(../img/icon-2.svg);
    
    position: absolute;
    top: 56px;
    left: 168px;

    width: 64px;
    height: 76px;  
}

.features-item {
    background-color: #eeeeee;
}

.features-item span {
    margin-top: 4px;
    margin-bottom: 22px;
}

.features-item:first-child {
    padding: 27px 95px 42px 94px;
}

.features-item:nth-child(2) {
    padding: 27px 69px 43px;
}

.features-item:last-child {
    padding: 27px 68px 43px;
}

/*----Форма поиска----*/


.search {
    text-align: center;
}

.search b {
    display: block;
    padding-top: 50px;
    margin-bottom: 10px;
    
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.search-container {
    position: relative;
    
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;   
    width: 100%;
    min-height: 291px;
    
    background-color: #ffffff;
}

.search-btn {
    position: absolute;
    left: 316px;
    bottom: 0;
    
    display: inline-block;
    width: 568px;
    min-height: 86px; 
    padding: 22px 138px 20px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    
    background-color: #766357;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #604e43;
}

.search-btn:active {
    color: rgba(225, 225, 225, 0.3);
    
    background-color: #503e33;
}

.search-form {
    position: absolute;
    
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 568px;
    min-height: 395px;
    padding: 55px;
    margin: 0 316px;
    
    text-align: center;
    
    background-color: #ffffff;
    -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    
            box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-item {
    position: relative;
    margin-bottom: 29px;
}

.search-item label {
    font-weight: bold;
}

.search-item input {
    font: inherit;
    font-weight: bold;
    text-transform: uppercase;
   
    background-color: #f2f2f2;
    border: none;
    
    overflow: visible;
    padding: 5px 15px;
}

.search-item input[type="text"]:hover {
    background-color: #ebebeb;
}

.search input[type="text"]:focus {
    background-color: #ffffff;
    outline: 2px solid #e6e6e6;
}

.search-item input::-ms-clear {
    display: none;
}

.arrival-date,
.departure-date {
    width: 346px;
    height: 38px;
    padding: 14px 13px 13px;
}

.departure-date {
    margin-left: 13px;
}
        
.arrival-date {
    margin-left: 16px;
}

.date-choose-btn {
    position: absolute;
    top: 8px;
    right: 4px;
    
    font-size: 0;
    background-color: transparent;
    border: 0;
    
    fill: #cacaca;
}

.date-choose-btn:hover {
    fill: #000000;
}

.date-choose-btn:active {
    fill: #81b3d2;
}

.visitors-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.adults-number,
.kids-number {
    width: 38px;
    height: 38px;
    padding: 14px 15px;
}

.adults label {
    margin-right: 37px;
}
    
.kids label {
    margin-right: 23px;
}

.number-wrapper {
    display: inline-block;
    font-size: 0;
}

.number-wrapper input {
    font-size: 14px;
}

.btn-minus,
.btn-plus {
    display: inline-block;
    
    width: 38px;
    height: 38px;
    
    vertical-align: top;
    
    color: #aaaaaa;
}

.btn-minus:hover,
.btn-plus:hover {
    color: #000000;
}

.btn-minus:active,
.btn-plus:active {
    color: #82b4d3;
}

.submit-btn {
    width: 458px;
    height: 59px;
    padding: 17px 197px 22px 196px;
    margin-top: 26px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    
    background-color: #82b4d3;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #669fc1;
}

.submit-btn:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5497be;
}

/*----Фильтр гостиниц----*/

.filters {
    min-height: 217px;
    
    background-color: #332f2f;
    background-image: url("../img/filter%20background.jpg");
    background-repeat: no-repeat;
}

.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 69px 72px 0;
    
    min-height: 216px;
}

.filter ul {
    list-style: none;
}

.filter input {
    font: inherit;
    color: #ffffff;
    text-transform: uppercase;
}

.columns-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
            justify-content: space-between;
    width: 393px;
}

.infrastructure-filter,
.accommodation-type-filter {
    padding: 0;
}

.filter-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

.filter-option {
    margin: 18px 0;
}

.filter-option label {   
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;   
}

.filter-option label::before {
    margin-right: 15px;
} 

.filter-option input[type="checkbox"] {
    display: none;
}

.filter-option input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    
    width: 25px;
    height: 25px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:focus + label::before {
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:checked:focus + label::before {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:disabled + label::before {
    background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-option input[type="checkbox"]:checked:disabled + label::before {
    background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-range {
    width: 318px;

    color: #ffffff;
    text-transform: uppercase;
}

.filter-range .filter-title {
    margin-bottom: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 30px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price {
    padding-left: 60px;
}

.price-controls .max-price {
    padding-left: 100px;
}

.price-controls input {
    width: 40px;
    margin: 0;

    color: inherit;
    font: inherit;
    text-align: center;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 20px;
    height: 20px;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    width: 22px;
    height: 22px;
    
    border: 9px solid #ffffff;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-btn {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    margin-right: 96px;
    padding: 6px 33px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    color: #000000;
    
    background-color: #ffffff;
}

/*---Результаты поиска---*/

.results-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 86px;
    padding: 32px 72px;
    
    background-color: #ffffff;
}

.container-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 34px;
    margin-top: 5px;
    margin-right: 12px;
}

.result {
    margin: 0;
    margin-right: 47px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;

    font-size: 12px;
}

.sorting-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    list-style: none;
}

.sorting-options a {
    margin-right: 33px;
    
    color: rgba(0, 0, 0, 0.3);
    
    border-bottom: 1px dotted #81b3d2;
}

.sorting-options a:hover,
.sorting-options a:focus {
    color: #81b3d2;
    
    border-bottom: 1px dotted #81b3d2;
}

.sorting-options a:active {
    color: #000000;
    
    border-bottom: none;
}

.sorting-options a.current {
    color: #81b3d2;
    
    border-bottom: none;
}

.low-to-high,
.high-to-low {
    display: inline-block;
    vertical-align: center;
    fill: #cacaca;
    margin-left: 12px;
}

.low-to-high:hover,
.low-to-high:focus,
.high-to-low:hover,
.high-to-lotw:focus {
    fill: #1e191a;
}

.low-to-high:active,
.high-to-low:active {
    fill: #81b3d2;
}

.low-to-high.current,
.high-to-low.current {
    fill: #81b3d2;
}

.search-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 72px;

    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
}

.search-result:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.block-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 90px;
}

.block-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 90px;
    
    text-align: right;
}

.result-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 90px;
    margin-left: 30px;
    
    text-align: left;
}

.result-description h3 {
    margin: 0;
    margin-top: -3px;
}

.result-caption {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.result-caption:hover,
.result-caption:focus {
    color: #81b3d2;
}

.result-caption:active {
    color: rgba(0, 0, 0, 0.3);
}

.result-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 258px;
}

.accommodation-type,
.starting-price {
    display: inline;
    color: #333333; 
}

.show-more-btn {
    display: inline-block;
    width: 110px;
    padding: 0 17px;
    margin-top: 12px;
    
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    
    background-color: #81b3d2;
}

.show-more-btn:hover,
.show-more-btn:focus {
    background-color: #669fc1;
}

.show-more-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5497be;
}

.booking-btn {
    display: inline-block;
    width: 142px;
    padding: 0 16px;
    margin-top: 12px;
    
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    
    background-color: #766357;
}

.booking-btn:hover,
.booking-btn:focus {
    background-color: #604e43;
}

.booking-btn:active {
    color: rgba(225, 225, 225, 0.3);
    
    background-color: #503e33;
}

.rating {
    display: inline-block;
    width: 110px;
    padding: 1px 13px;
    margin: 0;
    
    color: #666666;
    text-align: center;
    vertical-align: middle;
    
    background-color: #f2f2f2;
}

.icon-star {
    margin-left: 2px;
}

.icon-star::before {
    content: url(../img/star.svg);
}

/*----Футер----*/

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    
    position: relative;
}

.main-footer {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    width: 100%;
    min-height: 128px;
    padding-left: 132px;
    padding-right: 101px;
    
    background-color: rgba(255, 255, 255, 0.9);
}

.footer-index {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.socials {
    text-align: center;
}

.socials-list {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    list-style: none;
}

.twitter-btn {
    display: inline-block;
    width: 46px;
    height: 48px;
    padding: 15px 14px 16px 15px;
    margin-right: 6px;
    
    text-align: center;
    
    background-color: #81b3d2;
    fill: #ffffff;
}

.twitter-btn:hover,
.twitter-btn:focus {
    background-color: #669ec0;
    fill: #ffffff;
}

.twitter-btn:active {
    background-color: #5496bd;
    fill: rgba(255, 255, 255, 0.3);
}

.facebook-btn {
    display: inline-block;
    width: 46px;
    height: 48px;
    padding: 13px 17px;
    margin-right: 6px;
    
    background-color: #81b3d2;
    fill: #ffffff;
}

.facebook-btn:hover,
.facebook-btn:focus {
    background-color: #669ec0;
    fill: #ffffff;
}

.facebook-btn:active {
    background-color: #5496bd;
    fill: rgba(255, 255, 255, 0.3);
}

.youtube-btn {
    display: inline-block;
    width: 46px;
    height: 48px;
    padding: 15px 13px;
    margin-right: 6px;
    
    background-color: #81b3d2;
    fill: #ffffff;
}

.youtube-btn:hover,
.youtube-btn:focus {
    background-color: #669ec0;
    fill: #ffffff;
}

.youtube-btn:active {
    background-color: #5496bd;
    fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright span {
    margin-right: 6px;
}

.htmlacademy-logo {
    display: inline-block;
    width: 115px;
    height: 41px;    
    
    vertical-align: middle;
}

.htmlacademy-logo svg {
    pointer-events: none;
}

.htmlacademy-logo:hover,
.htmlacademy-logo:focus {
    fill: #81b3d2;
}

.htmlacademy-logo:active {
    fill: #bdbbbc;
}